<html lang="en">
<head>
	<title>energy</title>
	<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style/main.css">
<link rel="stylesheet" type="text/css" href="style/ternary.css">
<script type='text/javascript' src='js/jquery-3.0.0.min.js'></script>
<script type='text/javascript' src='js/mustache.min.js'></script>
<script type='text/javascript' src='js/parse-bibtex.js'></script>
<script type='text/javascript' src='js/parse_citations.js'></script>
</head>

<body>

<script charset="UTF-8" src="js/d3.min.js"></script>
<script charset="UTF-8" src="js/ternary.js"></script>

<div id="plot" style='text-align:center;'></div>

<div id='define'>
	<p><span id='word'> Materials energy: </span>
	<span id='definition'>Energy required to bring raw materials from reference state (earth’s crust) to start of product-specific manufacturing.</span></p>
</div>

<div id='define'>
	<p><span id='word'> Manufacturing energy: </span>
	<span id='definition'>Energy for product specific industrial production.  This includes transporting parts to end use location and installation/distribution at end use location.</span></p>
</div>

<div id='define'>
	<p><span id='word'>End use energy:</span>
	<span id='definition'>Energy required to utilize the service provided by the product.  This includes active use power, maintenance, and disposal.</span></p>

</div>


<h2>Studies</h2>
<ul id='studies'></ul>

<h2>References</h2>
<div id="bib"></div>

<script type='text/javascript'>make_all_citations('energy.bib');</script>

<img src='worldwide-energy-sankey-ai.png' width=800px>

<script >
	var plot_opts = {
		side: 550,
		height:580,
		margin: {top:40,left:150,bottom:20,right:150},
		axis_labels:['Materials Energy','Manufacturing Energy','End Use Energy',],
		axis_ticks:d3.range(0, 101, 20),
		minor_axis_ticks:d3.range(0, 101, 5)
	}

	var tp = ternaryPlot( '#plot', plot_opts );

	$.getJSON("results.json", function(studies){
		var d = []
		var studylist = document.getElementById("studies");
		for(var key in studies){
			//build data for d3
			os = studies[key]['label_offset'] ? studies[key]['label_offset'] : [0,0];
			d.push({
				materials_energy:studies[key]['materials_energy'],
				manufacturing_energy:studies[key]['manufacturing_energy'],
				use_energy:studies[key]['use_energy'],
				label:key,
				url:studies[key]['url'],
				offset: os
			});

			//build list of links to studies
			var entry = document.createElement("li");
			var template = "<a href={{url}}>"+key+"</a>";
			entry.innerHTML = Mustache.to_html(template,studies[key]);
			studylist.appendChild(entry);

		}
		tp.data(d, function(d){ return [d.materials_energy, d.manufacturing_energy, d.use_energy, d.label, d.url, d.offset]}, 'label');
	});

	//TODO: Build a full bibliography here
</script>



</body>
</html>