body{
	font-size:12pt; 
	font-family: Ubuntu, sans-serif; 
	margin: 20px;
}
cite{
	font-style:normal;
	color:#2956B2; #CERULEAN BLUE
}
#bib ul{
	list-style-type:none;
	padding-left: 50px ;
  	text-indent: -30px ;
}
#bib li{
	padding-bottom: 10px;
}
#citation_number{
	color:#2956B2; #CERULEAN BLUE
}

#define #word{
	font-weight: bold; 
}
#definition{
	padding-bottom: 20px; 
}

#scoreboard{
	font-size: 24px;
}

#pie{
	font-size: 12px;
}

blockquote{
	font-style: italic;
}

table{
	text-align: left;
}
td{
	padding-left: 40px ;
  	text-indent: -10px ;
}

figure{
	text-align: center;
}
figcaption{
	font-style: italic;
	font-size: 14pt;
	padding-left: 10%;
	padding-right:10%;
}


.graph .axis path,
.graph .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend rect {
  fill:#ccc;
  stroke:none;
  opacity:0.8;}