a{
	font-family: sans-serif;
	color: #DB7365;
	padding: 0.3rem;
}
a:hover{
	background-color: #DB7365;
	color: #fff1e0;
}
body{
	#background: #fff1e0;
}
line.tick {
	stroke-width: 0.5;
}

line.minor-tick {
	stroke-width: 1;
	stroke-opacity:0.1;
}
.arrow {
	stroke-width:2;
	stroke: #aaa;
}
marker .arrow{
	fill: #aaa;
}

.a-axis{
	stroke: #333;
}

.b-axis{
	stroke: #333;
}

.c-axis{
	stroke: #333;
}

.axis-title{
	font-family: sans-serif;
	font-size: 1.5rem;

}

text.tick-text {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	fill: #333;
	stroke:none;
}

circle {
	fill: #fff1e0;
	stroke: #DB7365;
	stroke-width: 2px;
}

#data_label{
	fill: #DB7365;
}